<a href="https://colab.research.google.com/github/Nivash7/assignment_1/blob/main/Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [4]:
import pandas as pd
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [34]:
data1 = pd.read_csv("/content/college_1.csv")
data2 = pd.read_csv("/content/college_2.csv")
df = pd.DataFrame(data1,data2)
print(df)

                                                   Name  python  mysql  \
(ASHOK KUMAR K, 100, 0, 31, 9, 19400, 19400, El...  NaN     NaN    NaN
(Chandru, 0, 20, 0, 0, 14150, 14490, Computer S...  NaN     NaN    NaN
(Ganesh Ramkumar R, -1, 55, 24, 6, 8790, 10790,...  NaN     NaN    NaN
(Bodipudi Harini, -1, 0, 35, -1, 10040, 10040, ...  NaN     NaN    NaN
(VIINU V P, -1, 100, 24, -1, 9150, 9150, Electr...  NaN     NaN    NaN
( Poojitha Y, 0, 78, 35, 0, 7210, 8970, Compute...  NaN     NaN    NaN
(Gowtham Chandrasekaran, -1, 0, 0, 3, 7250, 895...  NaN     NaN    NaN
(Gowtham R, -1, 60, 4, 6, 8650, 8650, Electroni...  NaN     NaN    NaN
(shifak N, 58, 0, 0, 0, 5180, 8320, Electronics...  NaN     NaN    NaN
(Balaji , -1, 100, 20, 0, 6170, 8160, Electroni...  NaN     NaN    NaN
(Rushitha, -1, 15, 62, 9, 7470, 8090, Computer ...  NaN     NaN    NaN
(Balaraman Muthupandi, -1, 9, 0, 0, 7670, 8050,...  NaN     NaN    NaN
(JPradhap, 100, 0, 0, 0, 7340, 8030, Electronic...  NaN     NaN    NaN
(SRIRAMKUMAR B, -1, 0, 0, 0, 6400, 7940, Comput...  NaN     NaN    NaN
(Praneetha, -1, 23, 100, -1, 7170, 7730, Electr...  NaN     NaN    NaN
(Rahul Raj K, -1, 0, 0, 0, 6280, 7640, Computer...  NaN     NaN    NaN
(Guhan S, -1, 72, 35, 39, 7310, 7630, Electroni...  NaN     NaN    NaN
(Suryarajan S, -1, 63, 31, 0, 6710, 7550, Compu...  NaN     NaN    NaN
(Narasimhan Y L, -1, -1, 0, 0, 4800, 6800, Comp...  NaN     NaN    NaN
(Leelakrishna, -1, 6, 4, 0, 5300, 6640, Compute...  NaN     NaN    NaN
(PremsagarReddy, -1, 20, 0, 0, 5290, 6290, Comp...  NaN     NaN    NaN
(pradeeban, 16, 20, 24, 0, 6060, 6090, Computer...  NaN     NaN    NaN
(santhoshini, -1, 43, 0, 0, 3910, 5740, Compute...  NaN     NaN    NaN
(MUKESH S M, -1, 46, 0, 0, 5200, 5200, Computer...  NaN     NaN    NaN
(P.GOVARDHANAN, -1, 40, 0, -1, 5050, 5050, Elec...  NaN     NaN    NaN
(SHAIK DANISH, -1, 43, 0, 0, 4050, 4820, Comput...  NaN     NaN    NaN
(sridhar.s, -1, 52, 0, 0, 3860, 4440, Computer ...  NaN     NaN    NaN
(Vimalesh Fernando, -1, 0, 0, 0, 4170, 4170, Co...  NaN     NaN    NaN
(M.Karthikeyan, -1, 0, 4, 6, 4020, 4020, Comput...  NaN     NaN    NaN
(Abishak s, -1, 55, 35, 6, 3220, 3220, Electron...  NaN     NaN    NaN
(praveen raj j, 24, -1, 0, 0, 2380, 2380, Compu...  NaN     NaN    NaN
(AMARNATH D, -1, 52, 12, -1, 1890, 1890, Electr...  NaN     NaN    NaN
(bala, 32, 49, 0, -1, 1720, 1720, Electronics a...  NaN     NaN    NaN
(XY Z, -1, 20, -1, -1, 0, 0, Computer Science a...  NaN     NaN    NaN
(Hariharan, -1, -1, -1, 0, 0, 0, Computer Scien...  NaN     NaN    NaN

                                                    Previous Geekions  \
(ASHOK KUMAR K, 100, 0, 31, 9, 19400, 19400, El...                NaN
(Chandru, 0, 20, 0, 0, 14150, 14490, Computer S...                NaN
(Ganesh Ramkumar R, -1, 55, 24, 6, 8790, 10790,...                NaN
(Bodipudi Harini, -1, 0, 35, -1, 10040, 10040, ...                NaN
(VIINU V P, -1, 100, 24, -1, 9150, 9150, Electr...                NaN
( Poojitha Y, 0, 78, 35, 0, 7210, 8970, Compute...                NaN
(Gowtham Chandrasekaran, -1, 0, 0, 3, 7250, 895...                NaN
(Gowtham R, -1, 60, 4, 6, 8650, 8650, Electroni...                NaN
(shifak N, 58, 0, 0, 0, 5180, 8320, Electronics...                NaN
(Balaji , -1, 100, 20, 0, 6170, 8160, Electroni...                NaN
(Rushitha, -1, 15, 62, 9, 7470, 8090, Computer ...                NaN
(Balaraman Muthupandi, -1, 9, 0, 0, 7670, 8050,...                NaN
(JPradhap, 100, 0, 0, 0, 7340, 8030, Electronic...                NaN
(SRIRAMKUMAR B, -1, 0, 0, 0, 6400, 7940, Comput...                NaN
(Praneetha, -1, 23, 100, -1, 7170, 7730, Electr...                NaN
(Rahul Raj K, -1, 0, 0, 0, 6280, 7640, Computer...                NaN
(Guhan S, -1, 72, 35, 39, 7310, 7630, Electroni...                NaN
(Suryarajan S, -1, 63, 31, 0, 6710, 7550, Compu...                NaN
(Narasimhan Y L, -1, -1, 0, 0, 4800, 6800, Comp...                NaN
(Leelakrishna, -1, 6, 4, 0, 5300, 6640, Compute...                NaN
(PremsagarReddy, -1, 20, 0, 0, 5290, 6290, Comp...                NaN
(pradeeban, 16, 20, 24, 0, 6060, 6090, Computer...                NaN
(santhoshini, -1, 43, 0, 0, 3910, 5740, Compute...                NaN
(MUKESH S M, -1, 46, 0, 0, 5200, 5200, Computer...                NaN
(P.GOVARDHANAN, -1, 40, 0, -1, 5050, 5050, Elec...                NaN
(SHAIK DANISH, -1, 43, 0, 0, 4050, 4820, Comput...                NaN
(sridhar.s, -1, 52, 0, 0, 3860, 4440, Computer ...                NaN
(Vimalesh Fernando, -1, 0, 0, 0, 4170, 4170, Co...                NaN
(M.Karthikeyan, -1, 0, 4, 6, 4020, 4020, Comput...                NaN
(Abishak s, -1, 55, 35, 6, 3220, 3220, Electron...                NaN
(praveen raj j, 24, -1, 0, 0, 2380, 2380, Compu...                NaN
(AMARNATH D, -1, 52, 12, -1, 1890, 1890, Electr...                NaN
(bala, 32, 49, 0, -1, 1720, 1720, Electronics a...                NaN
(XY Z, -1, 20, -1, -1, 0, 0, Computer Science a...                NaN
(Hariharan, -1, -1, -1, 0, 0, 0, Computer Scien...                NaN

                                                    CodeKata Score Department  \
(ASHOK KUMAR K, 100, 0, 31, 9, 19400, 19400, El...             NaN        NaN
(Chandru, 0, 20, 0, 0, 14150, 14490, Computer S...             NaN        NaN
(Ganesh Ramkumar R, -1, 55, 24, 6, 8790, 10790,...             NaN        NaN
(Bodipudi Harini, -1, 0, 35, -1, 10040, 10040, ...             NaN        NaN
(VIINU V P, -1, 100, 24, -1, 9150, 9150, Electr...             NaN        NaN
( Poojitha Y, 0, 78, 35, 0, 7210, 8970, Compute...             NaN        NaN
(Gowtham Chandrasekaran, -1, 0, 0, 3, 7250, 895...             NaN        NaN
(Gowtham R, -1, 60, 4, 6, 8650, 8650, Electroni...             NaN        NaN
(shifak N, 58, 0, 0, 0, 5180, 8320, Electronics...             NaN        NaN
(Balaji , -1, 100, 20, 0, 6170, 8160, Electroni...             NaN        NaN
(Rushitha, -1, 15, 62, 9, 7470, 8090, Computer ...             NaN        NaN
(Balaraman Muthupandi, -1, 9, 0, 0, 7670, 8050,...             NaN        NaN
(JPradhap, 100, 0, 0, 0, 7340, 8030, Electronic...             NaN        NaN
(SRIRAMKUMAR B, -1, 0, 0, 0, 6400, 7940, Comput...             NaN        NaN
(Praneetha, -1, 23, 100, -1, 7170, 7730, Electr...             NaN        NaN
(Rahul Raj K, -1, 0, 0, 0, 6280, 7640, Computer...             NaN        NaN
(Guhan S, -1, 72, 35, 39, 7310, 7630, Electroni...             NaN        NaN
(Suryarajan S, -1, 63, 31, 0, 6710, 7550, Compu...             NaN        NaN
(Narasimhan Y L, -1, -1, 0, 0, 4800, 6800, Comp...             NaN        NaN
(Leelakrishna, -1, 6, 4, 0, 5300, 6640, Compute...             NaN        NaN
(PremsagarReddy, -1, 20, 0, 0, 5290, 6290, Comp...             NaN        NaN
(pradeeban, 16, 20, 24, 0, 6060, 6090, Computer...             NaN        NaN
(santhoshini, -1, 43, 0, 0, 3910, 5740, Compute...             NaN        NaN
(MUKESH S M, -1, 46, 0, 0, 5200, 5200, Computer...             NaN        NaN
(P.GOVARDHANAN, -1, 40, 0, -1, 5050, 5050, Elec...             NaN        NaN
(SHAIK DANISH, -1, 43, 0, 0, 4050, 4820, Comput...             NaN        NaN
(sridhar.s, -1, 52, 0, 0, 3860, 4440, Computer ...             NaN        NaN
(Vimalesh Fernando, -1, 0, 0, 0, 4170, 4170, Co...             NaN        NaN
(M.Karthikeyan, -1, 0, 4, 6, 4020, 4020, Comput...             NaN        NaN
(Abishak s, -1, 55, 35, 6, 3220, 3220, Electron...             NaN        NaN
(praveen raj j, 24, -1, 0, 0, 2380, 2380, Compu...             NaN        NaN
(AMARNATH D, -1, 52, 12, -1, 1890, 1890, Electr...             NaN        NaN
(bala, 32, 49, 0, -1, 1720, 1720, Electronics a...             NaN        NaN
(XY Z, -1, 20, -1, -1, 0, 0, Computer Science a...             NaN        NaN
(Hariharan, -1, -1, -1, 0, 0, 0, Computer Scien...             NaN        NaN

                                                    Rising
(ASHOK KUMAR K, 100, 0, 31, 9, 19400, 19400, El...     NaN
(Chandru, 0, 20, 0, 0, 14150, 14490, Computer S...     NaN
(Ganesh Ramkumar R, -1, 55, 24, 6, 8790, 10790,...     NaN
(Bodipudi Harini, -1, 0, 35, -1, 10040, 10040, ...     NaN
(VIINU V P, -1, 100, 24, -1, 9150, 9150, Electr...     NaN
( Poojitha Y, 0, 78, 35, 0, 7210, 8970, Compute...     NaN
(Gowtham Chandrasekaran, -1, 0, 0, 3, 7250, 895...     NaN
(Gowtham R, -1, 60, 4, 6, 8650, 8650, Electroni...     NaN
(shifak N, 58, 0, 0, 0, 5180, 8320, Electronics...     NaN
(Balaji , -1, 100, 20, 0, 6170, 8160, Electroni...     NaN
(Rushitha, -1, 15, 62, 9, 7470, 8090, Computer ...     NaN
(Balaraman Muthupandi, -1, 9, 0, 0, 7670, 8050,...     NaN
(JPradhap, 100, 0, 0, 0, 7340, 8030, Electronic...     NaN
(SRIRAMKUMAR B, -1, 0, 0, 0, 6400, 7940, Comput...     NaN
(Praneetha, -1, 23, 100, -1, 7170, 7730, Electr...     NaN
(Rahul Raj K, -1, 0, 0, 0, 6280, 7640, Computer...     NaN
(Guhan S, -1, 72, 35, 39, 7310, 7630, Electroni...     NaN
(Suryarajan S, -1, 63, 31, 0, 6710, 7550, Compu...     NaN
(Narasimhan Y L, -1, -1, 0, 0, 4800, 6800, Comp...     NaN
(Leelakrishna, -1, 6, 4, 0, 5300, 6640, Compute...     NaN
(PremsagarReddy, -1, 20, 0, 0, 5290, 6290, Comp...     NaN
(pradeeban, 16, 20, 24, 0, 6060, 6090, Computer...     NaN
(santhoshini, -1, 43, 0, 0, 3910, 5740, Compute...     NaN
(MUKESH S M, -1, 46, 0, 0, 5200, 5200, Computer...     NaN
(P.GOVARDHANAN, -1, 40, 0, -1, 5050, 5050, Elec...     NaN
(SHAIK DANISH, -1, 43, 0, 0, 4050, 4820, Comput...     NaN
(sridhar.s, -1, 52, 0, 0, 3860, 4440, Computer ...     NaN
(Vimalesh Fernando, -1, 0, 0, 0, 4170, 4170, Co...     NaN
(M.Karthikeyan, -1, 0, 4, 6, 4020, 4020, Comput...     NaN
(Abishak s, -1, 55, 35, 6, 3220, 3220, Electron...     NaN
(praveen raj j, 24, -1, 0, 0, 2380, 2380, Compu...     NaN
(AMARNATH D, -1, 52, 12, -1, 1890, 1890, Electr...     NaN
(bala, 32, 49, 0, -1, 1720, 1720, Electronics a...     NaN
(XY Z, -1, 20, -1, -1, 0, 0, Computer Science a...     NaN
(Hariharan, -1, -1, -1, 0, 0, 0, Computer Scien...     NaN

In [35]:
df = data1.merge(data2,how='outer')
print(df)

              Name  python  mysql  Previous Geekions  CodeKata Score  \
0        A.Dharani    82.0   20.0              24500           24500
1      V.JEEVITHA     82.0   20.0              21740           21740
2      HEMAVATHI.R   100.0  100.0              19680           19680
3      Mugunthan S   100.0   47.0              10610           10610
4      Sathammai.S   100.0    8.0               8980            8980
..             ...     ...    ...                ...             ...
114  praveen raj j    24.0    0.0               2380            2380
115     AMARNATH D    -1.0   12.0               1890            1890
116           bala    32.0    0.0               1720            1720
117           XY Z    -1.0   -1.0                  0               0
118      Hariharan    -1.0   -1.0                  0               0

                                    Department  Rising  python_en  \
0             Computer Science and Engineering       0        NaN
1             Computer Science and Engineering       0        NaN
2             Computer Science and Engineering       0        NaN
3             Computer Science and Engineering       0        NaN
4             Computer Science and Engineering       0        NaN
..                                         ...     ...        ...
114           Computer Science and Engineering       0       -1.0
115  Electronics and Communication Engineering       0       52.0
116  Electronics and Communication Engineering       0       49.0
117           Computer Science and Engineering       0       20.0
118           Computer Science and Engineering       0       -1.0

     computational_thinking
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
..                      ...
114                     0.0
115                    -1.0
116                    -1.0
117                    -1.0
118                     0.0

[119 rows x 9 columns]

/usr/local/lib/python3.8/dist-packages/pandas/core/reshape/merge.py:1204: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [36]:
df.columns

Index(['Name', 'python', 'mysql', 'Previous Geekions', 'CodeKata Score',
       'Department', 'Rising', 'python_en', 'computational_thinking'],
      dtype='object')

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

**Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)**

In [ ]:
if codekata Score <10000 and <15000:
  print("reached_expectation")

###### No of students participated

In [49]:
import pandas as pd
pd.value_counts(df['Name'])

A.Dharani            1
santhosh             1
Bodipudi Harini      1
Ganesh Ramkumar R    1
Chandru              1
                    ..
Barath D             1
tamilarasi           1
SOWMIYA.V            1
SarumathiR           1
Hariharan            1
Name: Name, Length: 119, dtype: int64

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
df.set_index(['python','mysql'],inplace=True)

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [51]:
df.head(3)

                      Name  mysql  Previous Geekions  CodeKata Score  \
python python
82.0   82.0      A.Dharani   20.0              24500           24500
       82.0    V.JEEVITHA    20.0              21740           21740
100.0  100.0   HEMAVATHI.R  100.0              19680           19680

                                     Department  Rising  python_en  \
python python
82.0   82.0    Computer Science and Engineering       0        NaN
       82.0    Computer Science and Engineering       0        NaN
100.0  100.0   Computer Science and Engineering       0        NaN

               computational_thinking
python python
82.0   82.0                       NaN
       82.0                       NaN
100.0  100.0                      NaN

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [52]:
df.tail(3)

                    Name  mysql  Previous Geekions  CodeKata Score  \
python python
 32.0   32.0        bala    0.0               1720            1720
-1.0   -1.0         XY Z   -1.0                  0               0
       -1.0    Hariharan   -1.0                  0               0

                                              Department  Rising  python_en  \
python python
 32.0   32.0   Electronics and Communication Engineering       0       49.0
-1.0   -1.0             Computer Science and Engineering       0       20.0
       -1.0             Computer Science and Engineering       0       -1.0

               computational_thinking
python python
 32.0   32.0                     -1.0
-1.0   -1.0                      -1.0
       -1.0                       0.0

###### Department wise codekata performence (pie chart)

In [59]:
import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
department = ['Department']
courses = [Electronics and Communication Engineering,Computer Science and Engineering]
ax.pie(courses,labels=courses)
plt.show()

SyntaxError: ignored

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)